<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Adding New Skier</title>

<head>
    <title>Home</title>
    <link href="//db.onlinewebfonts.com/c/0f59a1765c4fc96684b92e78461e975b?family=SNOWFLAKE" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/4f6d8baa159eaeae6c3ef96aae68a9d9?family=Snowfall" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/31e817348bfbc82ebf2d5f0a9c2de8f5?family=firstsnow" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="design.css" media="screen">

</head>


<body>
<nav class="topnav">
    <a class="active" href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('create') }}">Add new Skier</a>
    <a href="{{ url_for('edit') }}">Edit</a>
    <a href="{{ url_for('summary') }}">Summary</a>
</nav>
<div class="hamburgerContainer">
    <nav class="smallNav" id="smallNav">
        <a class="active" href="{{ url_for('home') }}">Home</a>        <div id="hamburger">
            <a href="{{ url_for('create') }}">Add new Skier</a><hr>
            <a href="{{ url_for('edit') }}">Edit</a><hr>
            <a href="{{ url_for('summary') }}">Summary</a>
        </div>
        <a class="icon" onclick="myFunction2()">
            <i class="fa fa-bars" style="font-size: 36px"></i>
        </a>
    </nav>
</div>

    <header>
        <h1 class="title">Add new Skier</h1>

        <p class="center">Here you may add new skier:</p>
    </header>

    <main>
        <form method="post">
            <br><br><br>
            <label for="id">ID : </label>
            <input type="text" name="id"
                   pattern="[0-9]+"
                   placeholder="ID of Skier" required
                   title="Enter ID of Skier">
            <br><br>
            <label for="name">Name : </label>
            <input type="text" name="name"
                   pattern="^[a-zA-Z-' ]*$"
                   required
                   placeholder="Name of Skier"
                   title="Enter name of Skier">
            <!-- všetky boli cez <p>-->
            <br><br>
            <label for="salary">Placement:</label>
            <input type="text" name="salary"
                   placeholder="Placement of Skier"
                   required pattern="[0-9]+"
                   title="Enter placement of Skier">

            <!--</p>-->
            <br><br><br>
            <button type="submit">Submit</button>
        </form>
    </main>

</body>
</html>

<script>
    function myFunction2() {
        var x = document.getElementById("hamburger");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
    function myFunction3() {
        var x = document.getElementById("hamburger");
        x.style.display = "none";
    }
</script>
