
@import url(//db.onlinewebfonts.com/c/4f6d8baa159eaeae6c3ef96aae68a9d9?family=Snowfall);
@font-face {
    font-family: "Snowfall"; src: url("//db.onlinewebfonts.com/t/4f6d8baa159eaeae6c3ef96aae68a9d9.eot");
    src: url("//db.onlinewebfonts.com/t/4f6d8baa159eaeae6c3ef96aae68a9d9.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4f6d8baa159eaeae6c3ef96aae68a9d9.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/4f6d8baa159eaeae6c3ef96aae68a9d9.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/4f6d8baa159eaeae6c3ef96aae68a9d9.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/4f6d8baa159eaeae6c3ef96aae68a9d9.svg#Snowfall") format("svg"); }

@import url(//db.onlinewebfonts.com/c/0f59a1765c4fc96684b92e78461e975b?family=SNOWFLAKE);
@font-face {
    font-family: "SNOWFLAKE"; src: url("//db.onlinewebfonts.com/t/0f59a1765c4fc96684b92e78461e975b.eot");
    src: url("//db.onlinewebfonts.com/t/0f59a1765c4fc96684b92e78461e975b.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0f59a1765c4fc96684b92e78461e975b.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/0f59a1765c4fc96684b92e78461e975b.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/0f59a1765c4fc96684b92e78461e975b.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/0f59a1765c4fc96684b92e78461e975b.svg#SNOWFLAKE") format("svg");
}

.topnav {
    background-color: #333;
    overflow:hidden;
}

.topnav a {
    float: right;
    color:grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:3vw;
    transition: color 3s;


}

.topnav a:hover {
    background-color: #3e4444;
    text-decoration: underline;
    color: lightgray;

}

.topnav a.active {
    background-color: lightgrey;
    color: black;
}
.topnav .icon {
    display: none;
}

body {
    background-image: url("obrazocky/sniezik.gif");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}

a {
    font-family: "Snowfall", serif;
}

h1 {
    color: lightgrey;
    text-align: center;
    font-family: "SNOWFLAKE", serif;
    font-size: 11vh;
}
h3 {
    color: lightgrey;
    text-align: center;
    font-size: 9vh;
}

p {
    text-align: center;
    color: lightgrey;
}

.center_img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

table th, td {
    border: 1px solid;
    text-align: center;
    font-size: 20px;
    color: lightgrey;
    transition: background-color 3s;
}

table:hover{
    background-color: black;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    color: lightgrey;
    transition: background-color 3s;
}


@media screen and (min-width: 795px) {
    body {

        min-width: 35rem;
        max-width: 100rem;
        margin-left: auto;
        margin-right: auto;

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto auto auto auto;
    }
    .google {
        margin-top: 50px;
        position: fixed;
    }
    .image[src=""] {
        display: none;
    }

    .hamburgerContainer{
        display: none;
    }
    .topnav {
        background-color: #333;
        width: 100%;
        overflow:hidden;
        position: fixed;
    }

    .topnav a {
        float: right;
        color:#737373;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size:3vw;
        transition: color 3s;
    }

    .topnav a:hover {
        background-color: #3e4444;
        text-decoration: underline;
        color: #FF7C30;
    }

    .topnav a.active {
        background-color: #FF7C30;
        color: black;
    }
    .topnav .icon {
        display: none;
        position: sticky;
    }
    body > nav {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 4;
    }
    body > aside {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row: 2;
    }
    body > header {
        grid-column-start: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    body > picture {
        grid-column-start: 2;
        grid-row: 3;
        grid-row-end: 3;
    }
    .image {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

    body > main {
        grid-column-start: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    body > footer {
        grid-column-start: 2;
        grid-row-start: 6;
    }
    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

}


@media screen and (max-width: 795px){
    body {
        min-width: 15rem;
        width: 95%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .topnav {
        display: none;
    }
    .hamburgerContainer {
        max-width: 100%;
        margin: auto;
        background-color: #333;
        color: lightgrey;
        border-radius: 10px;
    }
    .smallNav a.active {
        background-color: #3e4444;
        color:#737373;
    }
    .smallNav {
        overflow: hidden;
        position: fixed;
        width: 100%;
        background-color: #333;
    }
    .smallNav a {
        color: lightgrey;
        padding: 14px 16px;
        font-size: 3vw;
        display: block;
        transition: color 3s;
    }
    .smallNav #hamburger {
        display: none;
    }
    .smallNav a.icon {
        background-color: black;
        display: block;
        position: absolute;
        right: 15px;
        top: 0;
    }
    .smallNav a:hover {
        text-decoration: underline;
        color: grey;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }
}



label {
    vertical-align: top;
    display: inline-block;
    min-width: 30%;
    color: lightgrey;
    transition: background-color 2s;
}
label:hover {
    background-color: black;
}

textarea {
    resize: none;
}
label ::after{
    content: ":";
}

:required {
    border: 3px solid darkred;
}

:optional {
    border: 1px solid grey;
}

input:invalid, textarea:invalid {
    border-color: darkred;
}

:out-of-range {
    color: darkred;
}

input:valid {
    color: forestgreen;
}
